body {
  box-sizing: border-box;
  /*font-size: 62.5%;*/
  -webkit-font-smoothing: antialiased;
  color: #fff;
  margin: 0;
  border: 0;
  font-family: "Roboto", Arial;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.right{
	float: right;
}
.left{
	float: left;
}

.wide{
  width:60%;
  /*height:10rem;*/
}

.narrow{
  width:40%;
  /*height:10rem;*/
}

li{
  position:relative;
  display: inline-block;
   list-style: none;
}

.tiny-text {
  font-size: .5rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  line-height: .5rem;

}

.header{
	background-image: url('http://placekitten.com/2000/600');
	background-size: cover;
	width: 100%;
	position: relative;
	/*border: 2px red solid;*/


}

.nav-bar{
  position: fixed;
  width:100%;
  padding:1%;
}

.forty{
	background-color: #fff;
	color: #000;
}
.description{
	clear: both;
  padding: 5rem;
}

button{
	border: 1px solid #fff;
	background: none;
	color: #fff;
	padding: 1rem;

}

.header-overlay{
  z-index: 10;
  background-color: rgba(25,25,75,0.7);
}

.overlay{
  z-index: 10;
}



.intro{
	width: 30%;
	display: inline-block;

}
.big-arrow{
	font-size: 1rem;
	line-height: 0;
	
}

h2 {
  border-bottom: 1px solid #fff;
  width:15rem;
  padding-bottom:0.75rem ;
}

#pancake {
  background-image: url("http://placekitten.com/500/300");
  background-size: cover;
}

.pancake-overlay{
  background-color: rgba(220,130,0,0.7);

}

#tempus {
  background-image: url("http://placekitten.com/700/400");
  background-size: cover;
}

.tempus-overlay {
  background-color: rgba(0,130,0,0.7);
}

#carrot {
  background-image: url("http://placekitten.com/650/400");
  background-size: cover;
}

.carrot-overlay {
  background-color: rgba(0,30,100,0.7);
}
#iguana {
  background-image: url("http://placekitten.com/700/600");
  background-size: cover;
}

.iguana-overlay {
  background-color: rgba(0,130,100,0.7);
}
#pearl {
  background-image: url("http://placekitten.com/800/400");
  background-size: cover;
}

.pearl-overlay {
  background-color: rgba(200,130,200,0.7);
}

#consequat {
  background-image: url("http://placekitten.com/800/500");
  background-size: cover;
}

.consequat-overlay {
  background-color: rgba(220,130,10,0.7);
}

.overlay:hover{

/*.overlay:hover {*/
  /*display: none;*/
  background-color: rgba(0,0,0,0);

}